.form {
    .form-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;

        .avatar-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                width: 100%;
                margin: 1em;
                border-radius: 5px;
                height: auto;
            }
        }

        .avatar-btn-wrapper {
            text-align: center;

            button {
                width: 100%;
                margin-bottom: 1em;
            }
        }
    }

    .form-body {
        margin-top: 1em;

        button {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}